<cdk-virtual-scroll-viewport
  #scrollCDK
  (scrolledIndexChange)="scrolledIndexChange($event)"
  [itemSize]="itemSize"
  [minBufferPx]="itemSize * 4"
  [maxBufferPx]="itemSize * 4"
>
  <mat-list role="list">
    <mat-list-item
      *cdkVirtualFor="let item of items"
      role="listitem"
      [ngStyle]="{ height: itemSize + 'px' }"
      >{{ item }}</mat-list-item
    >
  </mat-list>
</cdk-virtual-scroll-viewport>

<mat-list class="info" role="list">
  <mat-list-item role="listitem"
    >Data Length - {{ scrollCDK.getDataLength() }}</mat-list-item
  >
  <mat-list-item role="listitem"
    >Rendered Range -
    {{ objectToString(scrollCDK.getRenderedRange()) }}</mat-list-item
  >
  <mat-list-item role="listitem"
    >Viewport Size - {{ scrollCDK.getViewportSize() }}</mat-list-item
  >
  <mat-list-item role="listitem"
    >Offset Start -
    {{ scrollCDK.getOffsetToRenderedContentStart() }}</mat-list-item
  >
  <mat-list-item role="listitem"
    >Scrolled Index Change - {{ scrolledIndexChangeNum }}</mat-list-item
  >
  <mat-list-item role="listitem"
    >Measure Rendered Content Size -
    {{ scrollCDK.measureRenderedContentSize() }}</mat-list-item
  >
  <mat-list-item role="listitem"
    >Measure Scroll Offset - Top:
    {{ scrollCDK.measureScrollOffset("top") }}</mat-list-item
  >
  <mat-list-item role="listitem"
    >Measure Scroll Offset - Bottom:
    {{ scrollCDK.measureScrollOffset("bottom") }}</mat-list-item
  >
</mat-list>
