<h1>ng-content-template</h1>

<ng-container *ngTemplateOutlet="myTemplate"></ng-container>

<ng-template #myTemplate>
  <div style="border: 3px dotted yellowgreen">
    <h2>ng-content-template - ng-template </h2>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</ng-template>

<app-ng-content-template-item [template]="myTemplate">
  <h2>ng-content-template / ng-content - H2</h2>
  <h3>ng-content-template / ng-content - H3</h3>
  <h4>ng-content-template / ng-content - H4</h4>
  <div>
    <h5>ng-content-template / ng-content - H5</h5>
  </div>
  <ng-container ngProjectAs="andrey">
    <div><h6>ng-content-template / ng-content - H6</h6></div>
  </ng-container>
</app-ng-content-template-item>

