<h2>life-components-item</h2>
<div class="life-components-item">
  <div class="life-components-item__block">
    <h3>inputValue1: {{inputValue1}}</h3>
    <button mat-button color="primary" (click)="chanceInputValue1()">inputValue1 ++</button>
  </div>
  <div class="life-components-item__block">
    <h3>inputValue2: {{inputValue2}}</h3>
    <button mat-button color="primary" (click)="chanceInputValue2()">inputValue2 ++</button>
  </div>
  <div class="life-components-item__block">
    <h3>outputValue: {{outputValue}}</h3>
    <button mat-button color="primary" (click)="chanceOutputValue()">outputValue ++</button>
  </div>
  <div class="life-components-item__block">
    <h3>testValue1: {{testValue1}}</h3>
  </div>
  <div class="life-components-item__block">
    <button mat-button color="primary" (click)="chanceTestValue2()">testValue2 ++</button>
  </div>
</div>
